.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    
    
}


.criminal--card {
    background-color: whitesmoke;
    border: 2px solid black;
    height: 200px;
    margin: 20px 0px 0px 60px;
    text-align: center;
    width: 200px;
}

body {
    background-color: rgb(151, 85, 3);
}